name: Update Index

on:
  push:
    paths:
      - 'verbali/**'

jobs:
  update_index:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Run autoUpdate.py
      run: python website/autoUpdate.py

    - name: Commit and push changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add index.html
        git commit -m "Aggiornato index.html automaticamente" || echo "No changes to commit"
        git push